<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecwin.fatp.dao.project.ListingClearingDao">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO listing_clearing (
        	Id ,
        	ProjectId ,
        	PayclearId ,
        	SettleTypeId ,
        	ReceiveUserType ,
        	ReceiveAccountId ,
        	AdvioserFee ,
        	InvestAdvioserFee ,
        	PlatformFee ,
        	PlatformFeeType ,
        	OverduePayFee ,
        	RepayTypeId ,
        	ManageDuration ,
        	GeneratePlan ,
        	RepayPeriodDay ,
        	SettleInvestDay ,
        	PayinvestType ,
        	PayinvestId ,
        	PayinvestBankCardId ,
        	InvestSettleTypeId ,
        	InterestMode ,
        	InterestBaseType ,
        	InterestBaseDays ,
        	CreateTime ,
        	CreateOperatorId ,
        	UpdateTime ,
        	UpateOperatorId ,
        	ReleaseNum,
        	VersionNo 
        ) VALUES (
        	#{id} ,
        	#{projectId} ,
        	#{payclearId} ,
        	#{settleTypeId} ,
        	#{receiveUserType} ,
        	#{receiveAccountId} ,
        	#{advioserFee} ,
        	#{investAdvioserFee} ,
        	#{platformFee} ,
        	#{platformFeeType} ,
        	#{overduePayFee} ,
        	#{repayTypeId} ,
        	#{manageDuration} ,
        	#{generatePlan} ,
        	#{repayPeriodDay} ,
        	#{settleInvestDay} ,
        	#{payinvestType} ,
        	#{payinvestId} ,
        	#{payinvestBankCardId} ,
        	#{investSettleTypeId} ,
        	#{interestMode} ,
        	#{interestBaseType} ,
        	#{interestBaseDays} ,
        	now() ,
        	#{createOperatorId} ,
        	now() ,
        	#{upateOperatorId} ,
        	1,
        	1 
        )
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
    
	<update id="updateByVersion">
        UPDATE listing_clearing SET
	        PayclearId = #{payclearId} ,
	        SettleTypeId = #{settleTypeId} ,
	        ReceiveUserType = #{receiveUserType} ,
	        ReceiveAccountId = #{receiveAccountId} ,
	        AdvioserFee = #{advioserFee} ,
	        InvestAdvioserFee = #{investAdvioserFee} ,
	        PlatformFee = #{platformFee} ,
	        PlatformFeeType = #{platformFeeType} ,
	        OverduePayFee = #{overduePayFee} ,
	        RepayTypeId = #{repayTypeId} ,
	        ManageDuration = #{manageDuration} ,
	        GeneratePlan = #{generatePlan} ,
	        RepayPeriodDay = #{repayPeriodDay} ,
	        SettleInvestDay = #{settleInvestDay} ,
	        PayinvestType = #{payinvestType} ,
	        PayinvestId = #{payinvestId} ,
	        PayinvestBankCardId = #{payinvestBankCardId} ,
	        InvestSettleTypeId = #{investSettleTypeId} ,
	        InterestMode = #{interestMode} ,
	        InterestBaseType = #{interestBaseType} ,
	        InterestBaseDays = #{interestBaseDays} ,
	        UpdateTime = now() ,
	        UpateOperatorId = #{upateOperatorId} ,
	        ReleaseNum = #{releaseNum},
	        VersionNo = VersionNo + 1
        WHERE 
	        Id = #{id} AND VersionNo = #{versionNo} 
	</update>

    <delete id="deleteByVersion" parameterType="java.util.Map">
        DELETE FROM listing_clearing WHERE
        Id = #{id} AND VersionNo = #{versionNo} 
    </delete>
    <select id="findByProjectId" parameterType="java.util.Map" resultType="com.telecwin.fatp.po.project.ListingClearingPo">
    	SELECT *
	    FROM listing_clearing 
        WHERE 
	        ProjectId = #{projectId}
	</select>
	
</mapper>

