<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecwin.fatp.dao.project.ListingContentDao">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO listing_content (
        	Id ,
        	ProjectId ,
        	BasicAssetNote ,
        	ProjectInfo ,
        	TradePartyQualification ,
        	TradeTerm ,
        	TransferorBasicNote ,
        	CreateTime ,
        	UpdateTime 
        ) VALUES (
        	#{id} ,
        	#{projectId} ,
        	#{basicAssetNote} ,
        	#{projectInfo} ,
        	#{tradePartyQualification} ,
        	#{tradeTerm} ,
        	#{transferorBasicNote} ,
        	now() ,
        	now() 
        )
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
	
	<update id="updateContentByProjectId">
        UPDATE listing_content 
			SET
			ProjectInfo = #{projectInfo} ,
			tradePartyQualification = #{tradePartyQualification}, 
			tradeTerm = #{tradeTerm}, 
			UpdateTime = now(),
			BasicAssetNote = #{basicAssetNote},
			TransferorBasicNote = #{transferorBasicNote}
			WHERE 
			ProjectId = #{projectId} 
	</update>
	
	<delete id="deleteContentByProjectId" parameterType="java.util.Map">
        DELETE FROM listing_content WHERE
        ProjectId = #{projectId}
    </delete>
    
   <select id="findContentByProjectId" parameterType="java.util.Map" resultType="com.telecwin.fatp.po.project.ListingContentPo">
    	SELECT *
	    FROM listing_content 
        WHERE 
	        ProjectId = #{projectId} 
	</select>
</mapper>

