<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.project.ListingTradeDao">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO listing_trade (
        	Id ,
        	ListingInfoId ,
        	MinInvestMoney ,
        	MaxInvestMoney ,
        	InvestProfit ,
        	CreateTime ,
        	CreateOperatorId ,
        	UpdateTime ,
        	UpateOperatorId ,
        	VersionNo 
        ) VALUES (
        	#{id} ,
        	#{listingInfoId} ,
        	#{minInvestMoney} ,
        	#{maxInvestMoney} ,
        	#{investProfit} ,
        	now() ,
        	#{createOperatorId} ,
        	now() ,
        	#{upateOperatorId} ,
        	1  
        )
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
	
	<update id="update">
        UPDATE listing_trade SET
	        MinInvestMoney = #{minInvestMoney} ,
	        MaxInvestMoney = #{maxInvestMoney} ,
	        InvestProfit = #{investProfit} ,
	        UpdateTime = #{updateTime} ,
	        UpateOperatorId = #{upateOperatorId} ,
	        VersionNo = VersionNo + 1  
        WHERE 
	        Id = #{id} AND ListingInfoId = #{listingInfoId} 
	</update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM listing_trade WHERE Id = #{id} 
    </delete>
    
    <delete id="deleteByListingInfoId" parameterType="java.lang.Integer">
        DELETE FROM listing_trade WHERE ListingInfoId = #{listingInfoId} 
    </delete>

    <select id="getTradeByListingInfoId" parameterType="java.lang.Integer" resultType="com.fatp.domain.listing.ListingTrade">
    	SELECT *
	    FROM listing_trade WHERE ListingInfoId = #{listingInfoId} ORDER BY ID ASC 
    </select>
    
    <select id="getPoByListingInfoId" parameterType="java.lang.Integer" resultType="com.fatp.po.project.ListingTradePo">
    	SELECT *
	    FROM listing_trade WHERE ListingInfoId = #{listingInfoId} ORDER BY ID ASC 
    </select>
</mapper>

