<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecwin.fatp.dao.project.ProjectContentDao">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_content 
			(
			ProjectId, 
			BasicAssetNote,
			ProjectInfo,
			TradePartyQualification,
			TradeTerm, 
			TransferorBasicNote,
			CreateTime, 
			UpdateTime
			)
			VALUES
			(
			#{projectId}, 
			#{basicAssetNote},
			#{projectInfo},
			#{tradePartyQualification}, 
			#{tradeTerm},
			#{transferorBasicNote},
			now(), 
			now()
			)
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
	
	<update id="updateByProjectId">
        UPDATE project_content 
			SET
			ProjectInfo = #{projectInfo} ,
			tradePartyQualification = #{tradePartyQualification}, 
			tradeTerm = #{tradeTerm}, 
			UpdateTime = now(),
			BasicAssetNote = #{basicAssetNote},
			TransferorBasicNote = #{transferorBasicNote}
			WHERE
			ProjectId = #{projectId} 
	</update>
	
	<delete id="deleteByProjectId" parameterType="int">
        DELETE FROM project_content WHERE
        ProjectId = #{projectId}
    </delete>
</mapper>

