<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.biz.BizplanPayinvestDao">
	 <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO bizplan_payinvest (
        	Id ,
        	PayinvestPlanGuid ,
        	RepayPlanId ,
        	ListingInfoId ,
        	BizImportApplyId ,
        	InvestUserId ,
        	CardAccount ,
        	SubBankName ,
        	PeriodNumber ,
        	Principal ,
        	Interest ,
        	OverInterest ,
        	OverDay ,
        	PayinvestStatus ,
        	IsDelete ,
        	CreateTime ,
        	CreateOperatorId ,
        	UpdateTime ,
        	UpdateOperatorId ,
        	VersionNo 
        ) VALUES 
        <foreach collection="list" item="item"  separator="," > 
	        (
	        	#{item.id} ,
	        	#{item.payinvestPlanGuid} ,
	        	#{item.repayPlanId} ,
	        	#{item.listingInfoId} ,
	        	#{item.bizImportApplyId} ,
	        	#{item.investUserId} ,
	        	#{item.cardAccount} ,
	        	#{item.subBankName} ,
	        	#{item.periodNumber} ,
	        	#{item.principal} ,
	        	#{item.interest} ,
	        	#{item.overInterest} ,
	        	#{item.overDay} ,
	        	#{item.payinvestStatus} ,
	        	#{item.isDelete} ,
	        	now() ,
	        	#{item.createOperatorId} ,
	        	now() ,
	        	#{item.updateOperatorId} ,
	        	1 
	        )
        </foreach>
	</insert>
	
	<update id="updatePayinvestStatusByPlanRepayId">
        UPDATE bizplan_payinvest SET 
        	PayinvestStatus = #{payinvestStatus} ,
	        UpdateTime = now() ,
	        UpdateOperatorId = #{updateOperatorId} ,
	        VersionNo =  VersionNo + 1 
        WHERE 
	        RepayPlanId = #{repayPlanId}
	</update>
	
	<sql id="where">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND bizplan_payinvest.Id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(payinvestPlanGuid)">
				AND bizplan_payinvest.PayinvestPlanGuid = #{payinvestPlanGuid}
			</if>
	       <if test="@Ognl@isNotEmpty(repayPlanId)">
				AND bizplan_payinvest.RepayPlanId = #{repayPlanId}
			</if>
	       <if test="@Ognl@isNotEmpty(listingInfoId)">
				AND bizplan_payinvest.ListingInfoId = #{listingInfoId}
			</if>
			<if test="@Ognl@isNotEmpty(bizImportApplyId)">
				AND bizplan_payinvest.BizImportApplyId = #{bizImportApplyId}
			</if>
	       <if test="@Ognl@isNotEmpty(investUserId)">
				AND bizplan_payinvest.InvestUserId = #{investUserId}
			</if>
	       <if test="@Ognl@isNotEmpty(cardAccount)">
				AND bizplan_payinvest.CardAccount = #{cardAccount}
			</if>
	       <if test="@Ognl@isNotEmpty(subBankName)">
				AND bizplan_payinvest.SubBankName = #{subBankName}
			</if>
	       <if test="@Ognl@isNotEmpty(periodNumber)">
				AND bizplan_payinvest.PeriodNumber = #{periodNumber}
			</if>
	       <if test="@Ognl@isNotEmpty(principal)">
				AND bizplan_payinvest.Principal = #{principal}
			</if>
	       <if test="@Ognl@isNotEmpty(interest)">
				AND bizplan_payinvest.Interest = #{interest}
			</if>
	       <if test="@Ognl@isNotEmpty(overInterest)">
				AND bizplan_payinvest.OverInterest = #{overInterest}
			</if>
	       <if test="@Ognl@isNotEmpty(overDay)">
				AND bizplan_payinvest.OverDay = #{overDay}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND bizplan_payinvest.CreateTime >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND bizplan_payinvest.CreateTime &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(createOperatorId)">
				AND bizplan_payinvest.CreateOperatorId = #{createOperatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND bizplan_payinvest.UpdateTime >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND bizplan_payinvest.UpdateTime &lt;= #{updateTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateOperatorId)">
				AND bizplan_payinvest.UpdateOperatorId = #{updateOperatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(versionNo)">
				AND bizplan_payinvest.VersionNo = #{versionNo}
			</if>
			<if test="@Ognl@isNotEmpty(isDelete)">
				AND bizplan_payinvest.IsDelete = #{isDelete}
			</if>
		</where>
	</sql>

    <select id="select" parameterType="java.util.Map" resultType="com.fatp.domain.biz.BizplanPayinvest">
    	SELECT 
    		bizplan_payinvest.*,
    		CONVERT(AES_DECRYPT(uc_user.RealName,'fatp.com')USING utf8) investUserRealName   
	    FROM bizplan_payinvest 
	    LEFT JOIN uc_user ON(uc_user.Id = bizplan_payinvest.InvestUserId) 
	    
		<include refid="where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <update id="updatePayinvestDeleteStatusByApplyId">
        UPDATE bizplan_payinvest SET 
        	IsDelete = #{isDelete} ,
	        UpdateTime = now() ,
	        UpdateOperatorId = #{updateOperatorId} 
        WHERE 
	        BizImportApplyId = #{bizImportApplyId} 
	</update>
</mapper>

