<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.biz.BizplanRepayDao">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bizplan_repay (
        	Id ,
        	RepayPlanGuid ,
        	ListingInfoId ,
        	LoanUserId ,
        	PeriodNumber ,
        	InterestDay ,
        	InterestStartDate ,
        	InterestEndDate ,
        	InterestPrincipal ,
        	PlanRepayDate ,
        	Principal ,
        	Interest ,
        	OverInterest ,
        	OverDay ,
        	RepayStatus ,
        	CreateTime ,
        	CreateOperatorId ,
        	UpdateTime ,
        	UpdateOperatorId ,
        	VersionNo 
        ) VALUES (
        	#{id} ,
        	#{repayPlanGuid} ,
        	#{listingInfoId} ,
        	#{loanUserId} ,
        	#{periodNumber} ,
        	#{interestDay} ,
        	#{interestStartDate} ,
        	#{interestEndDate} ,
        	#{interestPrincipal} ,
        	#{planRepayDate} ,
        	#{principal} ,
        	#{interest} ,
        	#{overInterest} ,
        	#{overDay} ,
        	#{repayStatus} ,
        	now() ,
        	#{createOperatorId} ,
        	now() ,
        	#{updateOperatorId} ,
        	1 
        )
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
	
	<update id="updateByVersion">
        UPDATE bizplan_repay SET
	        InterestPrincipal = #{interestPrincipal} ,
	        Principal = #{principal} ,
	        Interest = #{interest} ,
	        OverInterest = #{overInterest} ,
	        OverDay = #{overDay} ,
	        UpdateTime = now() ,
	        UpdateOperatorId = #{updateOperatorId} ,
	        VersionNo =  VersionNo + 1 
        WHERE 
	        Id = #{id} AND VersionNo = #{versionNo} 
	</update>
	
	<update id="updateRepayStatus">
        UPDATE bizplan_repay SET 
        	RepayStatus = #{repayStatus} ,
	        UpdateTime = now() ,
	        UpdateOperatorId = #{updateOperatorId} ,
	        VersionNo =  VersionNo + 1 
        WHERE 
	        Id = #{id} AND VersionNo = #{versionNo} 
	</update>
	
	<sql id="where">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND bizplan_repay.Id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(repayPlanGuid)">
				AND bizplan_repay.RepayPlanGuid = #{repayPlanGuid}
			</if>
	       <if test="@Ognl@isNotEmpty(listingInfoId)">
				AND bizplan_repay.ListingInfoId = #{listingInfoId}
			</if>
	       <if test="@Ognl@isNotEmpty(loanUserId)">
				AND bizplan_repay.LoanUserId = #{loanUserId}
			</if>
	       <if test="@Ognl@isNotEmpty(periodNumber)">
				AND bizplan_repay.PeriodNumber = #{periodNumber}
			</if>
	       <if test="@Ognl@isNotEmpty(interestDay)">
				AND bizplan_repay.InterestDay = #{interestDay}
			</if>
	       <if test="@Ognl@isNotEmpty(interestStartDateBegin)">
				AND bizplan_repay.InterestStartDate >= #{interestStartDateBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(interestStartDateEnd)">
				AND bizplan_repay.InterestStartDate &lt;= #{interestStartDateEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(interestEndDateBegin)">
				AND bizplan_repay.InterestEndDate >= #{interestEndDateBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(interestEndDateEnd)">
				AND bizplan_repay.InterestEndDate &lt;= #{interestEndDateEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(interestPrincipal)">
				AND bizplan_repay.InterestPrincipal = #{interestPrincipal}
			</if>
	       <if test="@Ognl@isNotEmpty(planRepayDateBegin)">
				AND bizplan_repay.PlanRepayDate >= #{planRepayDateBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(planRepayDateEnd)">
				AND bizplan_repay.PlanRepayDate &lt;= #{planRepayDateEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(principal)">
				AND bizplan_repay.Principal = #{principal}
			</if>
	       <if test="@Ognl@isNotEmpty(interest)">
				AND bizplan_repay.Interest = #{interest}
			</if>
	       <if test="@Ognl@isNotEmpty(overInterest)">
				AND bizplan_repay.OverInterest = #{overInterest}
			</if>
	       <if test="@Ognl@isNotEmpty(overDay)">
				AND bizplan_repay.OverDay = #{overDay}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND bizplan_repay.CreateTime >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND bizplan_repay.CreateTime &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(createOperatorId)">
				AND bizplan_repay.CreateOperatorId = #{createOperatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND bizplan_repay.UpdateTime >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND bizplan_repay.UpdateTime &lt;= #{updateTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateOperatorId)">
				AND bizplan_repay.UpdateOperatorId = #{updateOperatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(versionNo)">
				AND bizplan_repay.VersionNo = #{versionNo}
			</if>
			<if test="@Ognl@isNotEmpty(listingCode)">
				AND listing_info.ListingCode = #{listingCode}
			</if>
			<if test="@Ognl@isNotEmpty(issuer)">
				AND listing_info.Issuer like "%"#{issuer}"%"
			</if>
			<if test="@Ognl@isNotEmpty(listingFullName)">
				AND listing_info.ListingFullName like "%"#{listingFullName}"%"
			</if>
			<if test="@Ognl@isNotEmpty(noRepayStatus)">
				AND bizplan_repay.RepayStatus != #{noRepayStatus}
			</if>
		</where>
	</sql>
	<select id="getPlanRepayByGuid" parameterType="java.lang.String" resultType="com.fatp.domain.biz.BizplanRepay">
    	SELECT *
	    FROM bizplan_repay WHERE RepayPlanGuid = #{repayPlanGuid} 
    </select>

    <select id="select" parameterType="java.util.Map" resultType="com.fatp.domain.biz.BizplanRepay">
    	SELECT 
    		bizplan_repay.*,
    		listing_info.Issuer,
    		listing_info.ListingCode,
    		listing_info.ListingFullName,
    		listing_info.ListingMoney,
    		listing_info.ListingLimit,
    		listing_info.ListingLimitType,
    		listing_info.PayInterestType,
    		listing_info.ListingGuid 
	    FROM bizplan_repay 
	    LEFT JOIN listing_info ON(listing_info.id = bizplan_repay.ListingInfoId)
		<include refid="where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="getPlanRepayPoByUniqueKey" parameterType="java.util.Map" resultType="com.fatp.po.biz.BizplanRepayPo">
    	SELECT *
	    FROM bizplan_repay 
		WHERE ListingInfoId = #{listingInfoId} AND PeriodNumber = #{periodNumber} 
    </select>
</mapper>

