<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.sys.SysAppsDao">
	<sql id="where">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND Id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(appKey)">
				AND AppKey = #{appKey}
			</if>
	       <if test="@Ognl@isNotEmpty(appName)">
				AND AppName = #{appName}
			</if>
	       <if test="@Ognl@isNotEmpty(hasAdminMenus)"> 
				AND HasAdminMenu in 
				<foreach collection="hasAdminMenus"  item="hasAdminMenu"  open="(" separator="," close=")" >
					 #{hasAdminMenu}
				</foreach>
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND CreateTime >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND CreateTime &lt;= #{createTimeEnd}
		   </if>
		</where>
	</sql>

    <select id="select" parameterType="java.util.Map" resultType="com.fatp.po.sys.SysAppsPo">
    	SELECT *
	    FROM sys_apps 
		<include refid="where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

