<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.sys.SysParamDao">
    <select id="getByParamKey" parameterType="java.lang.String" resultType="com.fatp.po.sys.SysParamPo">
    	SELECT *
	    FROM sys_param 
		WHERE
		ParamKey = #{paramKey}
    </select>
    
    <sql id="where">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND Id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(paramKey)">
				AND ParamKey = #{paramKey}
			</if>
	       <if test="@Ognl@isNotEmpty(paramName)">
				AND ParamName = #{paramName}
			</if>
	       <if test="@Ognl@isNotEmpty(paramValue)">
				AND ParamValue = #{paramValue}
			</if>
	       <if test="@Ognl@isNotEmpty(showIndex)">
				AND ShowIndex = #{showIndex}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				AND Remark = #{remark}
			</if>
			 <if test="@Ognl@isNotEmpty(valueCanView)">
				AND ValueCanView = #{valueCanView}
			</if>
		</where>
	</sql>

    <select id="select" parameterType="java.util.Map" resultType="com.fatp.po.sys.SysParamPo">
    	SELECT *
	    FROM sys_param 
		<include refid="where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

