<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecwin.fatp.dao.sys.SystypeProjectDao">
	<sql id="where">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND Id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(memberId)">
				AND MemberId = #{memberId}
			</if>
	       <if test="@Ognl@isNotEmpty(typeName)">
				AND TypeName LIKE "%"#{typeName}"%"
			</if>
			<if test="@Ognl@isNotEmpty(fullTypeName)">
				AND TypeName = #{fullTypeName}
			</if>
			<if test="@Ognl@isNotEmpty(productTypeId)">
				AND ProductTypeId = #{productTypeId}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND CreateTime >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND CreateTime &lt;= #{createTimeEnd}
		   </if>
		</where>
	</sql>

    <select id="select" parameterType="java.util.Map" resultType="com.telecwin.fatp.po.sys.SystypeProjectPo">
    	SELECT *
	    FROM systype_project 
		<include refid="where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
</mapper>

