<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.offsite.BizimportApplyDao">
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bizimport_apply (
        	Id ,
        	ApplyGuid ,
        	ListingInfoId ,
        	ApplyType ,
        	ApplyStatus ,
        	ApplyOperatorId ,
        	ApplyMemberId ,
        	IsDelete ,
        	CreateTime ,
        	UpdateTime ,
        	valueDate 
        ) VALUES (
        	#{id} ,
        	#{applyGuid} ,
        	#{listingInfoId} ,
        	#{applyType} ,
        	#{applyStatus} ,
        	#{applyOperatorId} ,
        	#{applyMemberId} ,
        	#{isDelete} ,
        	now() ,
        	now() ,
        	#{valueDate} 
        )
    	<selectKey resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID() as id
        </selectKey>
	</insert>
	
	<select id="getApplyById" parameterType="int" resultType="com.fatp.domain.offsite.BizImportApply">
    	SELECT 
			* 
		FROM bizimport_apply 
		WHERE Id = #{id}
	</select>
	
	<select id="getApplyByApplyGuid" parameterType="java.lang.String" resultType="com.fatp.domain.offsite.BizImportApply">
    	SELECT 
			* 
		FROM bizimport_apply 
		WHERE ApplyGuid = #{applyGuid}
	</select>
	
	<update id="updateApplyStatus">
        UPDATE bizimport_apply SET 
	        ApplyStatus = #{applyStatus} ,
	        UpdateTime = now() ,
	        StatusMsg = #{statusMsg} 
        WHERE 
	        Id = #{id} 
	</update>
	
	<update id="updateApplyDeleteStatus">
        UPDATE bizimport_apply SET 
	        IsDelete = #{isDelete} ,
	        UpdateTime = now() 
        WHERE 
	        Id = #{id} 
	</update>
</mapper>

