<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.offsite.BizimportTradeDetailDao">
	<insert id="insertBatch">
        INSERT INTO bizimport_trade_detail (
        	BizImportApplyId ,
        	BizImportSummaryId ,
        	listingInfoId ,
        	TradeTime ,
        	TradeMoney ,
        	UserId ,
        	IsNewUser ,
        	PhoneNumber ,
        	IdTypeId ,
        	IdNumber ,
        	UserRealName ,
        	ExchangeId ,
        	addInvestProfit ,
        	addInvestProfitDays ,
        	CardAccount ,
        	SubBankName ,
        	CreateTime ,
        	UpdateTime 
        ) VALUES 
        <foreach collection="list" item="obj" separator=",">
        (
        	#{obj.bizImportApplyId} ,
        	#{obj.bizImportSummaryId} ,
        	#{obj.listingInfoId} ,
        	#{obj.tradeTime} ,
        	#{obj.tradeMoney} ,
        	#{obj.userId} ,
        	#{obj.isNewUser} ,
        	#{obj.phoneNumber} ,
        	#{obj.idTypeId} ,
        	#{obj.idNumber} ,
        	#{obj.userRealName} ,
        	#{obj.exchangeId} ,
        	#{obj.addInvestProfit} ,
        	#{obj.addInvestProfitDays} ,
        	#{obj.cardAccount} ,
        	#{obj.subBankName} ,
        	now() ,
        	now() 
        )
    	</foreach>
	</insert>
	
	<select id="pageFindTradeDetail" parameterType="java.util.Map" resultType="com.fatp.domain.offsite.BizimportTradeDetail">
    	SELECT 
    		bizimport_trade_detail.* 
    	FROM bizimport_trade_detail 
		LEFT JOIN bizimport_apply ON (bizimport_apply.Id = bizimport_trade_detail.BizImportApplyId) 
		WHERE 1 = 1 
		<if test="@Ognl@isNotEmpty(applyGuid)">
			AND bizimport_apply.ApplyGuid = #{applyGuid}
		</if>
	</select>
	
	<select id="findTradeDetailByApplyId" parameterType="int" resultType="com.fatp.domain.offsite.BizimportTradeDetail">
    	SELECT 
    		* 
    	FROM bizimport_trade_detail 
		WHERE BizImportApplyId = #{bizImportApplyId} 
	</select>
</mapper>

