<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecwin.fatp.dao.offsite.BizimportSummaryDao">
    <select id="getSummaryByApplyGuid" parameterType="java.lang.String" resultType="com.telecwin.fatp.po.offsite.BizimportSummaryPo">
    	SELECT bizimport_file_summary.*
	    FROM bizimport_file_summary 
	    JOIN bizimport_apply on (bizimport_apply.id = bizimport_file_summary.BizImportApplyId)
		WHERE bizimport_apply.ApplyGuid = #{applyGuid}
    </select>
</mapper>

