<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fatp.dao.offsite.InvestApplyDao">
	<select id="getCanApplyListingList" parameterType="java.util.Map" resultType="com.fatp.domain.listing.InvestApply">
    	SELECT * FROM (
	    	SELECT 
				listing_info.listingGuid,
				listing_info.listingCode,
				listing_info.ListingFullName,
				listing_info.Issuer,
				listing_info.ListingMoney,
				listing_info.ExchangeId,
				listing_info.listingStatus,
				
				IFNULL(bizimport_summary.applyMoney,0) applyMoney,
				IFNULL(bizimport_summary.applyNum,0) applyNum  
			FROM listing_info 
			LEFT JOIN (SELECT 
						bizimport_apply.ListingInfoId, 
						SUM(bizimport_summary.TotalMoney) applyMoney,
						COUNT(bizimport_apply.Id) applyNum 
						FROM bizimport_apply 
						LEFT JOIN bizimport_summary ON (bizimport_apply.Id = bizimport_summary.BizImportApplyId) 
						GROUP BY bizimport_apply.ListingInfoId 
					  ) bizimport_summary ON (bizimport_summary.ListingInfoId = listing_info.Id)
		) t
		WHERE t.listingStatus = 1 
		<if test="@Ognl@isNotEmpty(listingCode)">
			AND t.ListingCode = #{listingCode}
		</if>
		<if test="@Ognl@isNotEmpty(exchangeId)">
			AND t.ExchangeId = #{exchangeId}
		</if>
		<if test="@Ognl@isNotEmpty(listingFullName)">
			AND t.listingFullName like "%"#{listingFullName}"%"
		</if>
	</select>
</mapper>

